In [2]:
# Initial imports
import os
import pandas as pd
from datetime import datetime
from dotenv import load_dotenv
import alpaca_trade_api as tradeapi

import warnings
warnings.filterwarnings('ignore')

%matplotlib inline

In [3]:
load_dotenv("alpaca.env")

True

In [4]:
# Set names for an alpaca api key and secret and get the keys from environment file
alpaca_key = os.getenv('alpaca_key')
alpaca_secret = os.getenv('alpaca_secret')
base_url = 'https://paper-api.alpaca.markets' 
# Print and verify that keys were loaded correctly 
print(f'Alpaca key type: {type(alpaca_key)}')
print(f'Alpaca key type: {type(alpaca_secret)}')

Alpaca key type: <class 'str'>
Alpaca key type: <class 'str'>

In [5]:
# Create the Alpaca API object
alpaca = tradeapi.REST(alpaca_key, 
                       alpaca_secret, 
                       api_version='2')

In [6]:
# Format current date as ISO format
start_date = pd.Timestamp('2023-04-08', tz='America/New_York').isoformat()
end_date = pd.Timestamp('2024-04-08', tz='America/New_York').isoformat()

In [7]:
# Set the tickers
tickers = ['XLE']

# Set timeframe to "1Day" for Alpaca API
timeframe = "1Day"

# Get current closing prices for SPY and AGG
stock_price = alpaca.get_bars(
    tickers,
    timeframe,
    start = start_date,
    end = end_date
).df
stock_price

,close,high,low,trade_count,open,volume,vwap,symbol
timestamp,,,,,,,,
2023-04-10 04:00:00+00:00,85.66,86.6400,85.3000,121947,85.30,13488647,85.879664,XLE
2023-04-11 04:00:00+00:00,86.47,87.0100,85.6499,103300,86.14,12787580,86.445296,XLE
2023-04-12 04:00:00+00:00,86.53,87.2500,86.2700,130568,87.07,16667178,86.753472,XLE
2023-04-13 04:00:00+00:00,87.07,87.2900,86.1900,132995,86.40,15692262,86.870389,XLE
2023-04-14 04:00:00+00:00,87.23,87.7388,86.7200,110707,87.19,11775619,87.139064,XLE
...,...,...,...,...,...,...,...,...
2024-04-02 04:00:00+00:00,96.44,96.5400,95.1000,169185,95.52,19335599,95.926710,XLE
2024-04-03 04:00:00+00:00,97.10,97.2302,96.4849,134716,96.80,14574431,96.967659,XLE
2024-04-04 04:00:00+00:00,97.04,97.5950,96.6600,153821,97.25,18470645,97.180223,XLE
2024-04-05 04:00:00+00:00,98.08,98.4667,96.8500,132988,97.44,15597269,97.850093,XLE
2024-04-08 04:00:00+00:00,97.46,98.4100,97.2850,125942,98.13,17017279,97.779995,XLE